<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>province</key>
		<string>河南</string>
		<key>city</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>郑州</string>
				<key>cityID</key>
				<string>101180101</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>巩义</string>
				<key>cityID</key>
				<string>101180102</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>荥阳 </string>
				<key>cityID</key>
				<string>101180103</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>登封 
登封 
</string>
				<key>cityID</key>
				<string>101180104</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>新密</string>
				<key>cityID</key>
				<string>101180105</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>新郑</string>
				<key>cityID</key>
				<string>101180106</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>中牟</string>
				<key>cityID</key>
				<string>101180107</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>郑州农试站</string>
				<key>cityID</key>
				<string>101180108</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>安阳</string>
				<key>cityID</key>
				<string>101180201</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>汤阴 </string>
				<key>cityID</key>
				<string>101180202</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>滑县</string>
				<key>cityID</key>
				<string>101180203</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>内黄</string>
				<key>cityID</key>
				<string>101180204</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>林州</string>
				<key>cityID</key>
				<string>101180205</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>新乡</string>
				<key>cityID</key>
				<string>101180301</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>获嘉 </string>
				<key>cityID</key>
				<string>101180302</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>原阳</string>
				<key>cityID</key>
				<string>101180303</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>辉县 </string>
				<key>cityID</key>
				<string>101180304</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>卫辉</string>
				<key>cityID</key>
				<string>101180305</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>延津 </string>
				<key>cityID</key>
				<string>101180306</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>封丘</string>
				<key>cityID</key>
				<string>101180307</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>长垣 
长垣 
</string>
				<key>cityID</key>
				<string>101180308</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>许昌 </string>
				<key>cityID</key>
				<string>101180401</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>鄢陵</string>
				<key>cityID</key>
				<string>101180402</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>襄城</string>
				<key>cityID</key>
				<string>101180403</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>长葛</string>
				<key>cityID</key>
				<string>101180404</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>禹州</string>
				<key>cityID</key>
				<string>101180405</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>平顶山</string>
				<key>cityID</key>
				<string>101180501</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>郏县</string>
				<key>cityID</key>
				<string>101180502</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>宝丰</string>
				<key>cityID</key>
				<string>101180503</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
